.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    font-size: 20px;
    background-color: white;
    padding: 5%; /* Adjust padding for responsiveness */
}

.text {
    margin-top: 5%; /* Adjust margin for responsiveness */
}

img {
    max-width: 100%; /* Ensure image resizes proportionally */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Change flex direction to column */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .text {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }

    img {
        width: 100%; /* Ensure image resizes proportionally */
        max-width: 300px; /* Set maximum width for smaller screens */
        order: -1; /* Reorder the image to appear above the text */
    }
}
